.modalwrapper.active {
  visibility: visible;
  opacity: 1;
}

.modalwrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  background: #2525259a;

  visibility: hidden;
}

.modalwrapper .modal {
  width: min(34rem, 90%);
  background: #ffff;

  margin: auto;
  border-radius: 10px;

  font-family: "Poppins", sans-serif;
  display: grid;
  justify-content: center;
  padding: 3.2rem;
}

.modalwrapper .modal h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--purple);
}

.modalwrapper .modal label {
  margin: 1.6rem 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.modalwrapper .modal input {
  width: 100%;
  border: 0.1rem solid var(--light-grey);
  border-radius: 0.5rem;
  padding: 0.5rem;
  outline: none;
  margin-bottom: 1.6rem;
}

.modalwrapper .modal .btn2 {
  display: flex;
  margin: 0 auto;
  font-size: 1.6rem;
  padding: 16px 32px;
  color: #ffff;
  background: var(--purple);
  padding: 16px 32px;
  border: none;
  border-radius: 10px;
}

.modalwrapper .modal .btn2:hover {
  filter: brightness(1.2);
  cursor: pointer;
}
