* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

:root {
  --black: #4d4c59;
  --purple: #6c63ff;
  --light-grey: #c8c8c8;
  --text-color: #9c9ab6;
}

.max-container {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  position: relative;
}

.container {
  margin-right: 84px;
  margin-left: 123px;
  max-width: 494px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: var(--purple);
  line-height: 54px;
  letter-spacing: 0.105em;
}

.date {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 0 30px;
}

.date span {
  font-size: 14px;
  font-weight: 300;
  color: var(--text-color);
  line-height: 21px;
}

.hours {
  display: flex;
  gap: 0 20px;
  width: 100%;
  font-size: 72px;
  font-weight: 400;
  color: var(--black);
  line-height: 108px;
}

.center-btn {
  text-align: center;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
  line-height: 21px;
  margin-bottom: 16px;
}

.btn {
  font-size: 16ox;
  font-weight: 400;
  color: #ffff;
  background: var(--purple);
  padding: 16px 32px;
  border: none;
  border-radius: 10px;
}
.btn:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.top-bg img {
  width: 99vw;
}
.bottom-bg img {
  width: 99vw;
  height: 32.8vh;
}

.rocket2 {
  display: none;
}
